    <!-- People Section -->
    <section id="people" class="container content-section text-center">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Professor</h2>
                    <div class="lead"><p>Dr. Afanasyev is an Assistant Professor in the School of Computing and Information Sciences in Florida International University. My main research focus is on the next generation Internet architecture as part of the Named Data Networking (NDN) project; and my research interests include a variety of topics that are vital for the success of NDN, including scalability of name-based routing, auto-configuration, distributed data synchronization, application and network security. I’m also leading the development effort of the overall NDN codebase.</p>
</div>
                </div><br/><br/><br/><br/><br/>
                <div class="col-lg-5 col-lg-offset-2 col-md-6">
                    <img class="img-responsive" src="img/people/alex.jpg" alt=""><br/>
                    <p align="center">Alexander Afanasyev Ph.D.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

         <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-4 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Graduate Students</h2>
                    <div class="col-lg-5 col-sm-6">
                      <img class="img-responsive" src="img/people/srk.png" alt=""><br/>
                      <p>Sanjeev Kaushik Ramani</p> </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                      <img class="img-responsive" src="img/people/tarannum.jpeg" alt=""><br/>
                      <p>Tarannum Islam</p> </div>
                    <div class="col-lg-5 col-lg-offset-4 col-sm-6">
                      <img class="img-responsive" src="img/people/pp.jpg" alt=""><br/>
                      <p>Proyash Podder</p> </div>
                    </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
